* {

    box-sizing: border-box;

}


html, body {

    margin: 0;
    overflow-x: hidden;

}

// h1
.header-title {

    h1 {

        font-family: 'Vampiro One', cursive;
        margin-left: -30px;

        text-shadow: 0px 1px 5px rgba(0, 110, 255, 0.747);
    }
}

// TITLE AND NAV BAR
.header--title_navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5em;
    width: 100vw;

    font-family: 'Staatliches', sans-serif;
    background-color: rgba(243, 243, 243, 0.8);
    background-attachment: fixed;
    
    border-bottom: 2px solid black;

    & div:nth-child(1) {

        display: flex;
        align-items: center;

        & a {

            display: block;
            margin-left: 50px;
            margin-top: 0px;

            &:hover {

                transform: scale(1.5);

            }

            & #fbos {

                width: 10px;
                height: 16px;
                margin-right: 20px;

            }

            & #twitos {

                width: 17px;
                margin-right: 20px;

            }

        }

    }

    .header-navbar {

        & a {

            text-decoration: none;
            margin-left: 100px;
            font-size: 20px;
            color: black;

            &:hover {

                transform: scale(1.2);
                text-decoration: underline;

                text-underline-position: below;
                
                text-shadow: 0px 1px 5px rgba(0, 110, 255, 0.747);
            }

        }

    }

}

header {

    background-image: url(image/banner1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    
    width: 100vw;
    height: 700px;

}

